*
{
    margin: 0;
    padding: 0;
}

article
{
    background-color: rgba(0, 0, 0, .05);
    padding-bottom: 7%;
    padding-top: 15px;
    margin: 5%;
    margin-left: 13%;
    margin-right: 13%;
}
.primary
{
    background-color: #313131;
}
.Corps
{
    text-align: center;

    z-index: 0;
    position: relative;
    margin-top: 5%;
}

.image{
    background-size: 100px 100px;
    background-image: url('../image/blanc-gris.jpg');
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;

}


.boutton{
    color: #313131;
}

.bouttonProjet
{
    margin: 2%;
}
.outline-text{
    color: #F15D5D;
}


.footer{
    padding: 10px;
}

#Titre-paragraphe{
    color: #F15D5D;
    margin-top: 7%;
    margin-bottom: 2%;
}

#contenu{
    margin-bottom: 25%;    
}

#presentation
{
    padding: 1%;
}

#date
{
    font-weight: bold;
}

#description
{
    margin-top: 5%;
}

